.inf-content {
  border: 1px solid #dddddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.iimg-fluid {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
