@import url("https://fonts.googleapis.com/css?family=Patua+One");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.landing {
  font-size: 75px;
}

.App-link {
  color: green;
}

.pt-3 {
  margin: auto;
  width: 100%;

  padding: 10px;
}
.logo {
  margin: auto;
  width: 60%;
  text-align: center;
  padding: 10px;
}
.logo {
  font-family: "Patua One", sans-serif;
  font-weight: 400;
}
